h1 {
    border: solid;
    color: white;
    margin-left: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.menu a{
    margin-right: 20px;
}

a :link{
    color:#7ec1ffe5;
}

a :visited{
    color:#fa44b4e5;
}

.header{
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
}

.item{
    position: relative;
}

.item p{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}

.item :hover p{
    opacity: 1;
} 

.item :hower img{
    opacity: 0.33;
}